[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
scrapy = "*"
pillow = "*"
pymongo = "*"
dnspython = "*"
flask = "*"
markupsafe = "*"
flask-cors = "*"
html-sanitizer = "*"
flask-mongoengine = "*"
python-dotenv = "*"
connexion = {extras = ["swagger-ui"],version = "*"}
flask-swagger-ui = "*"
marshmallow = "*"
flask-shell-ipython = "*"
flask-wtf = "*"
flask-debugtoolbar = "*"
flask-jwt-extended = "*"
base64 = "*"

[requires]
python_version = "3.8"
