[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
scrapy = "*"
pillow = "*"
pymongo = "*"
dnspython = "*"
flask = "*"
markupsafe = "*"
flask-cors = "*"
html-sanitizer = "*"
flask-swagger-ui = "*"
flask-mongoalchemy = "==0.7.1"

[requires]
python_version = "3.8"
