[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
scrapy = "*"
pillow = "*"
scrapy-splash = "*"
scrapy-firebase = "*"
python-pymongo = "*"
pymongo = "*"
dnspython = "*"
logging = "*"
python-flask = "*"
flask = "*"
markupsafe = "*"
flask-pymongo = "*"

[requires]
python_version = "3.8"
